body {font-family: "Lato", sans-serif}

footer {
  background-color: #41B6D9;
}

body, html {
    height: 100%;
    color: #000000;
    line-height: 1.8;}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: top;
  background-size: cover;
  background-image: url("Photos/george.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.w3-bar .w3-button {
  padding: 16px;
}
.w3-buy-button {
  background-color: #535A50;
  color: white;
}
/* .bandbutton {
  background-color: #41B6D9;
} */
.w3-jumbo {
    color: white;
}
#myNavbar {
    background-color: #41B6D9;
}
.bandimage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: top;
}
/* -------------------------------------------------------------------------- */
/* Filter YouTube videos by band */
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  /* padding: 20px; */
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.3%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: gray;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
/* ----------------------------------------------------------------- */
/* Overlay text on "albums" */
.namecontainer {
  position: relative;
}

.nameimage {
  display: block;
  width: 100%;
  height: auto;
}

.nameoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #41B6D9;
}

.namecontainer:hover .nameoverlay {
  opacity: 1;
}

.nametext {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}