body {font-family: "Lato", sans-serif}


body, html {
    height: 100%;
    color: #000000;
    line-height: 1.8;}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: top;
  background-size: cover;
  background-image: url("Photos/george.jpg");
  min-height: 100%;
  
}

.w3-bar .w3-button {
  padding: 16px;
}
.w3-jumbo {
    color: white;
}
#myNavbar {
    background-color: #41B6D9;
}
.bandimage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: top;
}

/* Filter YouTube videos by band */
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  /* padding: 20px; */
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.3%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}