body {font-family: "Lato", sans-serif}


body, html {
    height: 100%;
    color: #000000;
    line-height: 1.8;}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: top;
  background-size: cover;
  background-image: url("Photos/george.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
.w3-jumbo {
    color: white;
}
#myNavbar {
    background-color: #41B6D9;
}
.bandimage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: top;
}