body {font-family: "Lato", sans-serif}


body, html {
    height: 100%;
    color: #000000;
    line-height: 1.8;}

.mySlides {display: none}

/* Overlay text on "about us" */
.namecontainer {
    position: relative;
    width: 50%;
  }
  
  .nameimage {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .nameoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4CB9D6;
  }
  
  .namecontainer:hover .nameoverlay {
    opacity: 1;
  }
  
  .nametext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.w3-bar {
    background-color: #4CB9D6;
}
.w3-jumbo {
    color: #4CB9D6;
}